.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    
}

.name{
    margin-top: 22px;
}

.address{
    margin-top: -15px;
}

.review{
    margin-top: -15px;
}

.rating{
    margin-top: -15px;
}

.divSummary{
    padding: 10px;
}

.summary{
    font-size: 13.5px;
    margin-top: -22px;
}

.avg{
    margin-top: -20px;
}

.distance{
    margin-top: -15px;
}

.origin{
    margin-top: -15px;
}

.img{
    margin-left: 260px;
}