.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    color: black;
    
}

.name{
    margin-top: 10px;
}

.address{
    margin-top: -15px;
}

.review{
    margin-top: -15px;
}

.rating{
    margin-top: -15px;
}



.avg{
    margin-top: -20px;
}



.img{
    margin-top: 25px;
    margin-left: 85px;
}