.container{
    background-image: linear-gradient(rgba(92, 52, 4, 0.3), rgba(92, 52, 4, 0.3));
    width: 100%;
}

.title{
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 150px;
    transition: 0.7s;
}

.title:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 0.7s;
}

.video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.containerCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 400px;
}

.cards{
    width: 500px;
    height: 400px;
    margin-right: 15px;
    margin-top: 55px;
    padding: 5px;
    background-color: rgba(155, 113, 58, 0.671);
    border-radius: 2%;
    border: solid 1px rgba(255, 255, 255, 0.3);
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.41);
}


.progressLoader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 100px;
  }
  
  .progressLoader {
    width: 150px;
    background: rgba(236, 236, 238, 0.253);
    height: 3px;
    border-radius: 7px;
  }
  
  .progress {
    content: '';
    width: 1px;
    height: 3px;
    border-radius: 7px;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    animation: loading1274 2s ease infinite;
  }
  
  @keyframes loading1274 {
    0% {
      width: 0%;
    }
  
    10% {
      width: 10%;
    }
  
    50% {
      width: 40%;
    }
  
    60% {
      width: 60%;
    }
  
    100% {
      width: 100%;
    }
  }



@media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}