.container{
    background-image: linear-gradient(rgba(92, 52, 4, 0.3), rgba(92, 52, 4, 0.3));
    width: 100%;
}

.title{
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 150px;
    transition: 0.7s;
}

.title:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 0.7s;
}

.video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.containerCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 300px;
}

.cards{
    width: 630px;
    height: 560px;
    margin-right: 15px;
    margin-top: 55px;
    padding: 5px;
    background-color: rgba(155, 113, 58, 0.671);
    border-radius: 2%;
}

@media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}