
.input {
    margin-right: 60px;
    margin-top: 15px;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color:rgb(170, 147, 118); 
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: rgb(70, 52, 28);
   }
   
   .input::placeholder {
    color: #000;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
   }
   
   .input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   
   
