.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

.distance, .price, .review, .rating{
    margin-top: 25px;
}

select{
    background-color:#CEC2B3;
    border: 1px solid black;
    height: 35px;
    border-radius: 5%;
}
